.todo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-inline: auto;
    gap: 2rem;
    min-height: 100vh;
    height: 100%;
    padding: 2rem; 
    width: 100%;
    max-width: 800px;
  }


.list-group {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  border-left: 4px solid var(--purple-secondary);
  padding: 1rem;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 100%;
}


.btn-list {
  background-color: var(--orange-light);
  border: none;
  flex: 1;
  min-width: 100px;
  margin: 0;
}

.btn-list:hover,
.btn-list:active,
.btn-list:visited {
  outline: none !important; 
  box-shadow: none !important;
  background-color: var(--orange-primary) !important;
  color: white !important;
}

.btn-dropdown {
  background-color: var(--orange-light) !;
  border: none;
}

.checkbox-tasks {
  border: 1px solid var(--purple-light);
}

.checkbox-tasks:checked {
  background-color: var(--purple-dark);
}

.tasks-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.tasks-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
}

.tasks-title {
  font-size: 1em;
  font-weight: 600;
  color: var(--purple-dark);
}

.tasks-contents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
}


.tasks-deadline {
  background-color: #fff6ec;
  padding: 6px;
  border-radius: 7px;
  font-size: 0.7em;
  color: #fa9139;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.completed-deadline {
  background-color: #f5f3ff;
  color: #a8a7a7;
}

.tasks-tags {
  background-color: #f5f3ff;
  color: #7029eb;
  padding: 6px;
  border-radius: 7px;
  font-size: 0.7em;
  font-weight: 600;
}

.tasks-date {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.tasks-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8em;
  color: #808080;
}

.tasks-important {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

}

.tasks-subcategories {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  flex-wrap: wrap;

}

.dropdown-toggle::after {
    display: none; 
}

.tasks-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tags-hidden {
  display: none;
}

.btn-modal {
  background-color: var(--purple-light);
  border: none;
}

.btn-modal:hover {
  background-color: var(--purple-dark);
  border: none;
}

.no-tasks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.no-tasks-image {
  width: 100%;
  max-width: 500px;
}

.dropdown-toggle {
  background-color: white;
  color: #5d6063;;
  border-color: 212529; 
}

.dropdown-item {
  color: #5d6063;;
}

.dropdown-item:hover {
  background-color: var(--purple-light); 
  color: white; 
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.more-options .dropdown-toggle:hover {
  color: var(--purple-light) !important; 
}

.gray-text {
  color: #5d6063;
  font-weight: 500;
}

.completed-title {
  color: #5d6063;
  font-size: 1em;
  font-weight: 400;
  text-decoration: line-through;
}

.completed-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.8em;
  color: #a8a7a7;
  text-decoration: line-through;

}


@media (max-width: 600px) {
  .tasks-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }
}