.todo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-inline: auto;
    gap: 2rem;
    min-height: 100vh;
    height: 100%;
    padding: 2rem; 
    width: 100%;
    max-width: 800px;
  }
  
  .title {
    font-size: 2.5rem;
    border-bottom: 2px solid #ececec;
    padding-bottom: 1.5rem;
    width: 100%;
    color: #141414;
  }
  
  .list-group {
    width: 100%;
  }
  
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border-left: 4px solid var(--purple-secondary);
    padding: 1rem;
  }