:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-roboto-slab: "Roboto Slab", serif;
  --ff-lato: "Lato", sans-serif;

  --purple-primary: #5e1b88;
  --purple-secondary: #9d70bb;

  --orange-primary: #f4512c;
  --orange-secondary: #fe7e4d;

  --white-50: #ffffff;
  --white-100: #f5f5f5;

  --black-trans-90: rgba(0, 0, 0, 0.9);
  --black-trans-50: rgba(0, 0, 0, 0.5);
  --black-trans-10: rgba(0, 0, 0, 0.01);

  --orange-dark: #f4512c;
  --orange-light: #fe7e4d;
  --purple-dark: #5e1b88;
  --purple-light: #9d70bb;
}


body {
  margin: 0;
  font-family: var(--ff-dm-sans);
}

.todo-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-inline: auto;
  gap: 2rem;
  min-height: 100vh;
  height: 100%;
  padding: 2rem; 
  width: 100%;
  max-width: 800px;
}

.title {
  font-size: 2.5rem;
  border-bottom: 2px solid #ececec;
  padding-bottom: 1.5rem;
  width: 100%;
  color: #141414;
}

.list-group {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  border-left: 4px solid var(--purple-secondary);
  padding: 1rem;
}

.btn-primary {
  background-color: var(--purple-secondary);
  border: none; 
}

.btn-primary:hover {
  background-color: var(--purple-primary);
  border: none; 
}

.btn-secondary {
  background-color: #fff;
  border: 2px solid #ebebeb; 
  color:#454545;
}

.dropdown-toggle {
  background-color: none; 
}

.dropdown-toggle::after {
  display: none;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

